body{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    color: rgba(0, 0, 0, .87);
    display: flex;
    font-size: 1em;
    font-weight: 400;
    justify-content: center;
    line-height: 1.3;
}
html, body {
    /* background: url('../images/.png'); 
    background-repeat: no-repeat;
    background-size: 2000px 1000px;*/

    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}
head {
    display: none;
}
header {
    display: block;
}

img {
    float: left;
    padding-right: 20px;
  }

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content {
    text-align: center;
    z-index: 1;
}

.content > header {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    font-weight: 300;
    margin: 0.25em;
}

.text1{
    text-align: left;
    padding-top: 300px;
}
